<mat-card>
  <div style="height: 200px">
    <img mat-card-image class="card-img-top" src="{{advert.img}}" alt="{{advert.img}}">
  </div>

  <div class="card-body">
    <mat-card-title>{{advert.title.toUpperCase()}}</mat-card-title>
    <mat-card-subtitle>
      <p>{{advert.mark.toUpperCase()}} {{advert.model.toUpperCase()}}</p>
    </mat-card-subtitle>
    <mat-card-content>
      <p><b>Год выпуска:</b> {{advert.year}}</p>
      <p><b>Двигатель:</b> {{advert.engines_type}}</p>
      <p><b>Расход:</b> {{advert.fuel_consumption}} л. / 100км.</p>
      <p><b>Пробег:</b> {{advert.mileage}} км.</p>
      <p><b>Цена:</b> {{advert.price}} $</p>
    </mat-card-content>
    <mat-card-footer>
      <button *ngIf="noAdd" type="button" class="btn btn-success" (click)="clickAdd()">Добавить в избраное</button>
      <button *ngIf="!noAdd" type="button" class="btn btn-danger" (click)="clickDelete()">Удалить из избраного</button>
    </mat-card-footer>
  </div>
</mat-card>
