<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-success" (click)="addAdvert()">+ Add user</button>
    <button type="button" class="btn btn-danger" (click)="deleteAdvert()">- Delete user</button>
  </div>
</div>
<div class="row justify-content-start align-items-center">

  <app-advert-list *ngFor="let advert of ListAdvert.adverts; let i = index"
                   [advert] = "advert"
                   [noAdd]="noAdd(advert) !== undefined ? false : true"
                   (deleteFavoriteList)="deleteFavoriteList(i)"
                   (addFavoriteList)="addFavoriteList(i)"
                   class="col col-3 text-center">
  </app-advert-list>

</div>
