<!--The content below is only a placeholder and can be replaced.-->
<div class="all row ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" routerLink="/">Bulletin board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">Add advert</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="content container-fluid">
    <div class="row">

      <main class="col">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </main>

      <aside class="col col-2">
        <h1>Избраное:</h1>

        <app-favorit-list
          *ngFor="let favorite of ListAdvert.favoriteList; let i = index"
          [favorite] = "favorite"
          (deleteFavoriteList)="deleteFavoriteList(i)">
        </app-favorit-list>

      </aside>

    </div>
  </div>

  <footer class="container">
    <div class="row">
      <h1 class="col col-12">Подвал</h1>
    </div>
  </footer>
</div>
