/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap-reboot.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import '~bootstrap/dist/css/bootstrap.css';

.all
  margin 0
  min-height 100vh
  text-align center

